#prev{
    display: block;
    border:2px solid black;
    width:150px;
    height:150px;
    border-radius: 50%;
    background-image: url('../images/user.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    margin-bottom: 5%;
}
div.form-group label{
    font-weight: 600;
    /* //font-size: xx-large; */
}
div.form-group span{
    font-size: small;
    font-weight: 500;
}
#categorySignUp{
    position: relative;
    left:10%;
}
#forgotPasswordhidden{
    display: none;
}