table{
    width:100%;
    /* table-layout: fixed; */
}
/* #requirementManagerModal table{
    table-layout: fixed;
} */
.card{
    padding:1.8rem;
    width:fit-content;

    margin:2rem;
}
table,th,tr,td{
    border-collapse: collapse;
    border: 1px solid black;
}
/* To make works take next line */
td,th{
    word-wrap: break-word;
}

th{
     border-bottom: 1px solid black; 
     min-height:3rem;
}

td,th{
    vertical-align: center;
    padding:0.5rem;
}

/* Give background color */
tr:nth-of-type(even) { 
    background: #eee; 
}
th{
      background-color:#eee;
}
@media only screen and (max-width:3000px){
    #usersModal    .modal-dialog{
        max-width: 1000px;
    }
}
@media only screen and (max-width:1240px){
    #usersModal    .modal-dialog{
        max-width: 600px;
    }
}
@media only screen and (max-width:1240px){
    thead{
        display: none;
    }
    /* To change tables behaviour --  tbody implicitily */
    td,tr,tbody,table{
        display: block;
        width:100%;
    }
    /* Padding left to make space for before elements */
    td{
        border:none;
        border-bottom: 1px solid #eee;
        padding-left: 50%; 
    }
    /* nowrap to make stars appear in a single line */
    .noWrap{
        white-space: nowrap;
    }

    /* Introducing elements before table content*/
    td:before{
        position:absolute;
        font-weight: bold;
        /* top:6px;*/
        left:1rem; 
        /* width:45%;*/
        padding-left: 10px;
    }

    td:nth-of-type(1):before { content: "Registered"; }
	td:nth-of-type(2):before { content: "Category"; }
	td:nth-of-type(3):before { content: "Problem"; }
	td:nth-of-type(4):before { content: "Location"; }
	td:nth-of-type(5):before { content: "City"; }
    td:nth-of-type(6):before { content: "Actions"; }
    

}



